body {
    margin: 0;
    padding: 0;
    background-color: #5C93AE;
    font-family: "Manrope", sans-serif;
}

/*----------------------------- Colours */

header .current-page{
    color:#5093AE;
}

/*----------------------------- Header */

.navbar {
    background-color: #0B0D10;
    height: 70px;
    margin: 0;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

.nav-icons-container {
    padding: 0;
    vertical-align: bottom;
}

.nav-icons-container ul {
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: bottom;
}

.nav-icons-container li{
    display: inline-block;
    width: 23%;
    text-align: center;
    vertical-align: bottom;
    padding:0;
}

.nav-icon {
    text-decoration: none;
    color: #1E5671;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-icon p {
    margin: 0;
    font-size: 0.7rem;
}

.nav-icon i {
    font-size: 1.6rem;
}

#logo {
    height: 100%;
    width: 100%;
    max-width: 120px;
}

.logo-container {
    padding: 0 0.5rem 0.25rem 0.5rem;
}

.nav-icons-container  a:hover{
    color: #c4c4c4;
}


@media (max-width:425px) {
    .logo-container {
    padding: 0 0 0.25rem 0;
    }
}

/*----------------------------- Footer */

footer{
    color:#fafafa;
    background-color:#0D3B51;
}

footer p {
    font-size: 12px;
}

footer h5 {
    font-size: 18px;
}

.social-links {
    padding: 0.5rem;
    text-align: center;
    margin: 0;
}

.social-links li{
    display: inline-block;
    font-size: 1.25rem;
    padding: 0 1rem;
}

.social-links a{
    color:#fafafa;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links a:hover{
    color: #c9acac;
}

.get-in-touch, .mailing-list {
    text-align: center;
    margin-bottom: 0;
}

.get-in-touch {
    padding: 1rem 1rem 0 1rem;
}

.copyright {
    text-align: center;
}

.site-map{
    padding-left:4rem;
}

.site-map>h5{
    margin: 0;
    padding-top: 1.25rem;
}
.map-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.map-list a{
    text-decoration: none;
    color:#fafafa;
}

.map-list li{
    border-right: 1px solid #fafafa;
    margin-right: 2rem;
}

.email-input {
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    width: 60%;
    min-width: 200px;
}

.submit {
    background-color: #FFDFBA;
}

.email-input, .submit {
    margin: 0.2rem 0;
}

@media (min-width: 992px) {
    .get-in-touch {
        padding-top: 2rem;
    }

    .mailing-list {
    padding-top: 0;
    }

}


/*----------------------------- Hero Image */

#hero-image{
    height: 320px;
    width: 100%;
    background: url("images/nick-lennon-hero-image.jpg") #1E5671 no-repeat center center; 
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.hero-image-container {
    padding: 0;
}

#hero-overlay {
    height: 320px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

#title-overlay, #subtitle-overlay{
    color: #fafafa;
    position: absolute;
}

#title-overlay {
    top: 15%;
    right: 40%;
}

#title-overlay h1 {
    margin: 0;
}

#subtitle-overlay {
    padding: 6px;
    border-radius: 10px;
    background-color: rgba(196,196,196,0.6);
    bottom:26%;
    left: 53%;
}

#subtitle-overlay h2 {
    font-size: 14px;
    margin: 0;
}

@media (min-width: 575px) {
    #hero-image, #hero-overlay {
    height: 550px;
    }
}

