

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #5C93AE;
    font-family: "Manrope", sans-serif;
}

/*----------------------------- Colours */

header .current-page{
    color:#5093AE;
}

/*----------------------------- NavBar */

.header-btn {
    padding: 0;
}

.navbar {
    background-color: #0B0D10;
    height: 70px;
    margin: 0;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

.nav-icons-container {
    padding: 0;
}

.nav-icons-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-icons-container li{
    text-align: center;
}

.nav-icon {
    color: #1E5671;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

    width: 85%;
}

.nav-icon p {
    margin: 0;
    font-size: 0.7rem;
}

.nav-icon i {
    font-size: 1.6rem;
}

#logo {
    height: 100%;
    width: 100%;
    max-width: 120px;
}

.logo-container {
    padding: 0 0 0.25rem 0;
}

.nav-icons-container  a:hover{
    color: #c4c4c4;
}


@media (min-width:425px) {
    .logo-container {
    padding: 0 0.5rem 0.25rem 0.5rem;
    }
}

/*------------------------New NavBar ----------*/

.navbar {
    padding-top: 4px;
}

.navbar-nav {
    flex-direction: row;
    width: 55vw;
    padding-top: 5px;
}

.logo-new {
    width: 40vw;
    height: 100%;
    margin: 0;
    max-height: 44px;
    max-width: 120px;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.nav-item {
    width: 45px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    font-size: 0.7rem;
    display: block;
    text-align: center;
}

.nav-link {
    padding: 0;
    bottom: 0;
    color: #1E5671;
}

.nav-link:hover {
    color: #fafafa;
}

.nav-link i {
    font-size: 1.6rem;
    display: block;
}

@media (min-width:425px) {
    .logo-new {
    padding-left: 0.5rem;
    }
}

@media (min-width:576px) {
    .navbar-nav {
    width: 50vw;
    } 
}

@media (min-width:768px) {
    .navbar-nav {
    width: 33.33vw;
    } 
}

@media (min-width:1200px) {
    .navbar-nav {
    width: 25vw;
    } 
}

/*----------------------------- Footer */

footer{
    color:#fafafa;
    background-color:#0D3B51;
}

footer p {
    font-size: 12px;
}

footer h5 {
    font-size: 18px;
}

.social-links {
    padding: 0.5rem;
    text-align: center;
    margin: 0;
}

.social-links li{
    display: inline-block;
    font-size: 1.25rem;
    padding: 0 1rem;
}

.social-links a{
    color:#fafafa;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links a:hover{
    color: #FFDFBA;
}

.get-in-touch, .mailing-list {
    text-align: center;
    margin-bottom: 0;
}

.get-in-touch {
    padding-top: 1rem;
}

.copyright {
    text-align: center;
}

.site-map{
    padding-left:4rem;
}

.site-map>h5{
    margin: 0;
    padding-top: 1.25rem;
}
.map-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.map-list a{
    text-decoration: none;
    color:#fafafa;
}

.map-list li{
    border-right: 1px solid #fafafa;
    margin-right: 2rem;
}

.email-input {
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    width: 60%;
    min-width: 200px;
}

.submit {
    background-color: #FFDFBA;
}

.email-input, .submit {
    margin: 0.2rem 0;
}

@media (min-width: 992px) {
    .get-in-touch {
        padding-top: 2rem;
    }

    .mailing-list {
    padding-top: 0;
    }

}

/*----------------------------- Hero Image */

#hero-image{
    height: 320px;
    background: url("images/nick-lennon-hero-image.jpg") #1E5671 no-repeat center center; 
    background-size: cover;
    position: relative;
}

.hero-image-container {
    padding: 0;
}

#hero-overlay {
    height: 320px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

#title-overlay, #subtitle-overlay{
    color: #fafafa;
    position: absolute;
}

#title-overlay {
    top: 15%;
    right: 40%;
}

#title-overlay h1 {
    margin: 0;
}

#subtitle-overlay {
    padding: 6px;
    border-radius: 10px;
    background-color: rgba(196,196,196,0.6);
    bottom:26%;
    left: 53%;
}

#subtitle-overlay h2 {
    font-size: 14px;
    margin: 0;
}

@media (min-width: 575px) {
    #hero-image, #hero-overlay {
    height: 550px;
    }

    #title-overlay {
    top: 20%;
    right: 42%;
    }

    #title-overlay h1 {
        font-size: 40px;
    }

    #subtitle-overlay {
    bottom:26%;
    left: 52%;
    }

    #subtitle-overlay h2 {
    font-size: 20px;
    }
}

@media (min-width: 1200px) {
    #title-overlay {
    right: 46%;
    }

    #subtitle-overlay {
    left: 53%;
    }
}

/*----------------------------- What I Do */

.what-i-do-container ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    padding: 0 5vw;
}

.what-i-do-container li{
    text-align: center;
}

.what-i-do-button {
    height: 85px;
    width: 85px;
    margin: 25px auto;
    padding: 2px;
    padding-top:15px;
    border-radius: 10px;
    background-color: #c4c4c4;
    border: 2px solid #c4c4c4;
}

.what-i-do-button-vert {
    height: 85px;
    width: 85px;
    margin: 16px auto;
}

.lessons-button{
     padding-top: 20px;
}

.what-i-do-button:hover{
    color: #0D3B51;
    background-color: #5093AE;
} 

@media (min-width: 575px) {
    .what-i-do-button{
    height: 150px;
    width: 150px;
    }

    .what-i-do-button i{
    font-size: 3.1rem;
    }

    .what-i-do-button p{
    font-size: 1.2rem;
    }
    
    .what-i-do-button div{
        margin-top: 12px;
    }
}

/*---------------------------------------Gallery Section */

#gallery {
    padding: 12px;
    column-count: 2;
    column-gap: 0px;
    height: 100%;
}

@media (min-width: 575px) {
    #gallery {
        column-count: 3;
    }
}

@media (min-width: 768px) {
    #gallery {
        column-count: 4;
    }
}

@media (min-width: 992px) {
    #gallery {
        column-count: 5;
    }

    .gallery-container {
    padding: 64px 16px;
    margin: 64px 0;
    }
}

.gallery-container {
    height: 760px;
    padding: 32px 16px 64px 16px;
}

.gallery-container-inner {
    height: 100%;
    width: 100%;
    background-color: #FFDFBA;
    border-radius: 20px;
}

.img-1, .img-2 {
    width: 100%;
    object-fit: cover;
}

.img-1 {
    height: 28.57%;

}

.img-2 {
    height: 42.86%;
}

.tl-corner {
    border-radius: 10px 0 0 0;
}

.tr-corner {
    border-radius: 0 10px 0 0;
}

.br-corner {
    border-radius: 0 0 10px 0;
}

.bl-corner {
    border-radius: 0 0 0 10px;
}


/*---------------------------------------Upcoming Performances Section */

#upcoming-performances-section {
    height: 425px;
    padding: 40px 0;
    background: url("images/performance-background.jpg") #1E5671 no-repeat center center fixed; 
    background-size: cover;
}

 .performance-button {
    width: 90%;
    max-width: 350px;
    height: 75px;
    background-color: #FFDFBA;
    margin: 20px auto;
    border-radius: 20px;
}

.performance-button-left {
    text-align: center;
    line-height: 75px;
    font-size: 50px;
    border-radius: 20px 0 0 20px;
}

.performance-button-center {
    padding: 10px 5px 5px 5px;
    text-align: center;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.performance-button-center h4 {
    font-size: 15px;
}

.performance-button-center p {
    font-size: 10px;
}

.performance-button-right {
    text-align: center;
    line-height: 75px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    text-decoration: none;
    line-height: 75px;
    color: #000;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*---------------------------------------Live Performance Video Section */

.video-container {
    padding: 10vw 0;
}

.video-container iframe {
    width: 80vw;
    height: 45vw;

    display: block;
    margin: 0 auto;

    max-height: 540px;
    max-width: 960px;
}

.live-performance-iframe {
    border: 0;
    overflow: hidden;    
}


/*---------------------------------------Media Queries */

/*--@media (min-width:575px) {
    body{
    width: 98vw;
    }
}
/*--- Reducing Future Performance Height--*/
@media(min-width: 700px) {
    #upcoming-performances-section {
        height: 310px;
    }
}
@media (min-width:992px) {
    /*-- body{
    width: 98vw;
    }

    /*-- Upcoming Performance Desktop Breakpoint Media Query --*/
    #performance-button-1 {
        background: url("images/performance-button-background-1.jpg") #1E5671 no-repeat center; 
    }

    #performance-button-2 {
        background: url("images/performance-button-background-2.jpg") #1E5671 no-repeat center; 
    }

    #performance-button-3 {
        background: #1E5671 url("images/performance-button-background-3.jpg") no-repeat center; 
        background-size: cover;
    }

    #performance-button-4 {
        background: url("images/performance-button-background-4.jpg") #1E5671 no-repeat center; 
    }
    
    #upcoming-performances-section {
    height: 660px;
    padding: 100px 50px;
    }
       

    .performance-button {
    width: 90%;
    max-width: 280px;
    height: 420px;
    }

    .performance-button-center {
        height: 325px;
        border-radius: 20px 20px 0 0;
        padding: 20px 15px;
        background-color: #FFDFBA;
    }

    .performance-button-center h4 {
        font-size: 30px;
        padding-bottom: 1rem; 
        border-bottom: 1px solid #000;
    }

    .performance-button-center p {
        font-size: 15px;
    }

    .performance-button-right {
        line-height: 90px;
        height: 96px;
        border-radius: 0 0 20px 20px;
        font-size: 25px;
        border-top: 1px dashed #000;
        background-color: #FFDFBA;
    }

    .performance-button:hover .performance-button-right {
        color:#fff;
        background-color: rgba(0, 0, 0, 0.85);
        border-top: 1px solid rgba(0, 0, 0, 0.9);
    }

    .performance-button:hover .performance-button-center {
        color:#fff;
        background-color: rgba(0, 0, 0, 0.25);
    }

    .performance-button:hover .performance-button-center h4 {
        border-bottom: 1px solid #fff;
    }

    /*-- Live Performance Video Desktop Breakpoint---*/
    .video-container {
        padding: 5vw 0;
    }
    
    .video-container iframe {
        width: 40vw;
        height: 22.5vw;
    }

    .video-container-outer {
        padding: 0 3vw;
    }

}



/*--------------------------------------- About Me Page */

/*--------------------------------------- Biography Section */

.profile-picture {
    height: 300px;
    width: 100%;

    border-radius: 20px;
    background-color: #0D3B51;
    object-position: top;
    object-fit: cover;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}


.biography-text {
    padding: 1rem 0;
    height: 100%;
}

#bio-section {
    padding: 2rem;
    height: 100%;
}

.cv-download a{
    color: #000;
    text-decoration: none;
    font-weight: 400;

    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-download a:hover{
    color: #FFDFBA;
    font-weight: 400;
}
@media(min-width:575px) {
    .profile-picture-container {
        order: 2;

    }

    #bio-section {
    padding-right: 1.6rem;
    }

    .biography-text {
        order: 1;
        padding: 1rem;
    }
}

@media(min-width:749px) {
    #bio-section {
    padding-right: 1.6rem;
    }
}

@media(min-width:992px) {
    .biography-text {
        padding: 1rem 3rem;
    }

    #bio-section {
    padding-right: 4.2rem;
    }
}


/*--------------------------------------- Career Highlights Section */

.timeline-container{
    height: 100%;
    padding: 1rem;
}

.timeline-background{
    height: 100%;
    width: 100%;
    padding: 1rem; 
    margin: 0 auto;

    background-color: #FFDFBA;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;
}

.fa-dot-circle:before{
    position: absolute;
    left: -11px;
    top: 60px;
    font-size: 20px
}

.timeline-item {
    padding-bottom: 20px;
    border-left: 2px solid #000;
    margin-left: 5px;
    position: relative;
}

.timeline-item-text {
    text-align: left;
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timeline-date {
    margin: 0;
    font-size: 12px;
}

.timeline-item-text h4 {
    font-size: 20px;
    font-weight: 500;
}

.timeline-item-text p {
    font-size: 16px;
}

/*--------------------------------------- Studio Credits Section */

.studio-credits-container {
    height: 100%;
    padding: 25px 15px;
    text-align: center;
}

.album-cover {
    padding: 30px 35px;
    position: relative;
    width: 100%;
    max-width: 320px;
    display: inline-block;
}

.album-cover a {
    text-decoration: none;
}

.album-cover img {
    width: 100%;
}

.album-cover p {
    color: #000;
    font-size: 20px;
    line-height: 30px;
    width: 70%;
    margin: 0 auto;
    background-color: rgba( 196, 196, 196, 0.5);

    position: absolute;
    bottom: 13%;
    left: 15%;
}

.soundcloud-link {
    margin: 20px 0;
    width: 90%;
    height: 166px;
    overflow: hidden;
    border: 0;
}

@media (min-width:575px) {
    .studio-credits-container h2 {
    margin-bottom: 1rem;
    }

    .album-cover {
    max-width: 175px;
    padding: 25px 5px;
    }

    .studio-credits-container {
    padding: 1.6rem 1rem 1.8rem 5px;
    text-align: center;
    }

    .soundcloud-links {
    padding: 2rem 0;
    }
}
@media (min-width: 992px) {
    .timeline-container {
        padding: 10px 30px;
    }
    .soundcloud-links {
    padding: 0;
    }

    .album-cover {
    padding: 10px;
    max-width: 200px;
    }
}